
.cardTitle {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-decoration: none;
}

.card:hover {
    /*cursor: pointer;*/
    transform: scale(1.1);  
}