
.App {
  text-align: center;
}

* {
  font-size: small;
}

body {
  background-color: #2e2f2f;
}

.App-link {
  color: #61dafb;
}

.form-control{
  background-color: #2e2f2f;
  color: #61dafb;
}

/* animate logo fade in every second */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



